*~
node_modules
package.json
yarn-error.log
yarn.lock

.texmf-var
.DS_Store
book.pdf


example/myapp1/out/*
example/myapp1/main.js

example/myapp2/out/*
example/myapp2/main.js

example/leapyears/out/*
example/myextmods/out/*
example/mytestingapp/out/*

example/mywebapp/out/*
example/mywebapp/main.js


example/nashorn_repl/out/*
example/nodejs_repl/out/*

example/myextmods/.cljs_node_repl/*

example/myapp2/.repl-1.9.36/*

